:root {
  --border: 1px solid black;
}
body {
  background-color: lightslategray;
}
table {
  border: var(--border);
  border-collapse: collapse;
}
tr {
  border-top: var(--border);
  background-color: gray;
}
th,
td {
  border: var(--border);
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
